<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>MongoDB e NodeJS CRUD</p>
    <ul>
      <% docs.forEach(function(usuario){ %>
        <li>
          <%= usuario._id %> - <%= usuario.nome %> -  <a href="/<%= usuario._id %>">Visualizar</a> - <a href="/update/<%= usuario._id %>">Atualizar</a> - <a href="/delete/<%= usuario._id %>">Excluir</a> 
        </li>
      <% }) %>
    </ul>
    Disciplina de Banco de Dados - IFPE - Pós-Graduação em Inovação em Desenvolvimento Web e Dispositivos Móveis
  </body>
</html>
